@media screen and (min-width: 1024px) {
  .second-part-2 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .second-part {
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 100px;
    left: -1000px;
    width: 100%;
    background-color: #fff;
    padding-block: 20px ;
    transition: 0.2s ease-in-out;
  }

  .second-part.active {
    left: 0px;
  }

}

@media screen and (max-width: 420px) {
  .bannar > p {
    font-size: 12px;
    padding: 0 3rem;
  }

  .primary-btn {
    display: block;
    width: 100%;
  }

  .simple-text {
    display: none;
  }

  .header {
    flex-direction: column-reverse;
    padding: 0 0;
  }

  .header-left {
    width: 100%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .header-left h1 {
    font-size: 32px;
  }

  .company-images {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .company-images > img {
    width: 40%;
  }

  .article-1 {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .article-1 .article-left {
    width: 100%;
    margin-top: -1.5rem;
  }

  .article-1 .article-right {
    width: 100%;
    padding: 1rem;
    margin-top: -2.5rem;
  }

  .article-2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-1 .section-1-first h2 {
    font-size: 28px;
    margin-top: 2rem;
    color: #183b56;
    margin-bottom: 1rem;
  }
  .section-1 .section-1-second {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .section-2 {
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }

  .section-2 .section-2-second {
    width: 100%;
    display: flex;
    height: 320px;
  }

  .section-2 .panelad-image .panelad-image-price {
    width: 170px;
    height: 160px;
  }

  .section-2-first {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .section-2 h2 {
    font-size: 30px;
  }

  .section-2-text1 {
    font-size: 16px !important;
    text-align: left;
  }

  .section-2-list {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 2rem;
  }

  .section3-content h2 {
    font-size: 28px;
  }

  .second-3-desc {
    font-size: 14px;
  }

  .second-3-btn {
    margin: 0 auto;
    width: 60%;
  }

  .second-3-btn a {
    padding: 1rem 2rem;
  }

  .footer-1 {
    background-color: #ebf2fa;
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer-1-logo {
    justify-content: center;
    align-items: center;
  }

  .footer-2 .sub-footer-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .page-subfooter-legals {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .social-logos {
    width: 30px;
  }
}
